node_modules
*.gif
*.png
*.jpg
*.jpeg
tmp
temp
*.tmp
*.temp
node_modules
*.log
README.md
yarn.lock
package-lock.json
docker-compose.yml
.env
.env.example
.env.test
.env
dist/*
build/*
debug/*
*.test.js
*.spec.js
src/tests/*
src/test/*
src/styles/*
tmp
temp
scripts
docs
doc
public
old
*.stories.js
.storybook
/*.js
src/learning-projects
