{
  "env": {
    "es6": true,
    "browser": true,
    "es2021": true,
    "jest": true
  },
  "extends": [
    "plugin:react/recommended",
    "airbnb",
    "prettier",
    "plugin:jsx-a11y/recommended"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": [
    "react",
    "prettier",
    "eslint-plugin-import-helpers",
    "jsx-a11y",
    "prefer-object-spread",
    "immutable",
    "more",
    "no-mixed-operators"
  ],
  "rules": {
    "no-mixed-operators/no-mixed-operators": "error",
    "more/prefer-includes": "error",
    "more/no-void-map": "error",
    "more/no-filter-instead-of-find": "error",
    "more/no-numeric-endings-for-variables": "error",
    "prefer-object-spread/prefer-object-spread": "error",
    "immutable/no-let": "error",
    "immutable/no-this": "error",
    "immutable/no-mutation": "error",
    "react/jsx-no-bind": "off",
    "jsx-a11y/label-has-associated-control": "Off",
    "default-param-last": "off",
    "import-helpers/order-imports": [
      "warn",
      {
        "newlinesBetween": "always",
        "groups": [
          "/^react/",
          "module",
          "/^@shared/",
          ["parent", "sibling", "index"]
        ],
        "alphabetize": { "order": "asc", "ignoreCase": true }
      }
    ],
    "prettier/prettier": "error",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true
      }
    ],
    "global-require": "error",
    "no-console": "warn",
    "import/prefer-default-export": "off",
    "react/button-has-type": "error",
    "react/no-access-state-in-setstate": "error",
    "react/no-deprecated": "error",
    "react/state-in-constructor": "error",
    "react/prop-types": "off",
    "react/jsx-props-no-spreading": "off",
    "react/jsx-filename-extension": [
      "warn",
      {
        "extensions": [".jsx", ".js"]
      }
    ]
  }
}
