.limiter {
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#cabecalho {
  top: 0;
  text-align: center;
}

.container {
  padding-top: 10px;
}

.lessons {
  display: flex;
  justify-content: center;
}

#minha_foto {
  max-width: 250px;
}

.lessons-table {
  text-align: left;
  box-sizing: border-box;
  padding: 50px;
}

.exp-box {
  margin: 15px 0;
  display: flex;
  justify-content: center;
}

.experience-title {
  text-align: center;
}

.experience {
  text-align: justify;
}

.lado-esquerdo {
  width: 50%;
  float: left;
  padding-right: 20px;
}

.lado-direito {
  width: 46%;
  float: right;
}

#rodape {
  clear: both;
  background-color: whitesmoke;
  border: 1px solid dodgerblue;
  line-height: 1.6;
  text-align: center;
}
