@media screen and (min-width: 768px) {
  .kakele-search-item {
    display: flex !important;
    flex-direction: row !important;

    .kakele-search-item-filters {
      min-width: 320px;
      max-width: 320px;
    }

    .row {
      margin-left: 0 !important;
      display: flex;
    }

    .col {
      display: flex;
      width: auto;
    }

    .card {
      .card-body {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
      }
      padding: 0px;
      margin-bottom: 5px;
      width: auto;
      width: 280px;
    }
  }
}

@media screen and (max-width: 767px) {
  .kakele-search-item {
    display: flex !important;
    flex-direction: column !important;

    .row {
      display: flex;
      justify-content: center;
      margin: 0px;
    }

    .card {
      margin-bottom: 5px;
    }

    .button-for-kakele {
      margin-right: 10px;
    }
  }
}
