@media screen and (max-width: 767px) {
  .set-maker-container {
    display: block;

    .row {
      display: flex;
      justify-content: center;
      margin: 0px;
    }

    .card {
      margin-bottom: 5px;
    }
  }
}

@media screen and (min-width: 768px) {
  .set-maker-container {
    display: flex;

    .status-container {
      min-width: 320px;
    }

    .row {
      margin-left: 0 !important;
      display: flex;
    }

    .col {
      display: flex;
      width: auto;
    }

    .card {
      padding: 0px;
      margin-bottom: 5px;
      width: auto;
      width: 265px;
    }
  }
}
