@media screen and (max-width: 767px) {
  .status-and-card-container {
    display: block;

    .row {
      display: flex;
      justify-content: center;
      margin: 0px;
    }

    .col {
      width: 90%;
      padding: 0;
    }

    .card {
      margin-bottom: 5px;
    }
  }
}

@media screen and (min-width: 768px) {
  .status-and-card-container {
    display: flex;

    .set-maker-filters-container,
    .status-container {
      min-width: 280px;
      max-width: 280px;
    }

    .row {
      margin-left: 0 !important;
    }

    .col {
      display: flex;
      width: auto;
    }

    .card {
      .card-body {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
      }
      padding: 0px;
      margin-bottom: 5px;
      width: 290px;
    }
  }
}
