.top-bar {
  background-color: rgb(66, 103, 178);
  display: flex;
  justify-content: space-between;
  width: 1100px;
}

.top-container {
  background-color: rgb(66, 103, 178);
  display: flex;
  justify-content: center;
}

.facebook-logo {
  align-self: center;
  display: flex;
  max-width: 100%;
}

.facebook-login {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  margin: 0 5px 0 0;
  box-sizing: border-box;
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.password-container {
  margin-left: 10px;
}

.form-control {
  align-self: flex-end;
  margin-left: 10px;
}

.main-content {
  display: flex;
  justify-content: center;
  background-image: url('./imgs/main-content-bg.png');
}

.left-content {
  width: 800px;
}

.right-content {
  width: 300px;
}

.name-container {
  display: flex;
}

.new-register,
.gender-input {
  box-sizing: border-box;
  margin-top: 5px;
  width: 100%;
}

.lastname {
  box-sizing: border-box;
  margin-left: 5px;
  width: calc(100% - 5px);
}

.gender-label {
  display: block;
}

.hidden {
  display: none;
}

.middle-footer {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  width: 100%;
  font-size: 15px;
}

.middle-footer hr {
  width: 100%;
}
